@model IEnumerable<MapuaCanteen.Models.PaotsinProducts>

@{
    ViewData["Title"] = "Paotsin Store";
}

<h2 class="text-center" style="font-weight:bolder;">PAOTSIN</h2>
<hr />
<div class="container">
    <div class="row">
        <div class="row">
            <div class="col-md-9">
                <h3>
                    Products offered
                </h3>
            </div>
            <div class="col-md-3">
                <!-- Controls -->
                <div class="controls pull-right hidden-xs">
                    <a class="left glyphicon glyphicon-chevron-left btn btn-success" href="#carousel-example"
                       data-slide="prev"></a><a class="right glyphicon glyphicon-chevron-right btn btn-success" href="#carousel-example"
                                                data-slide="next"></a>
                </div>
            </div>
        </div>
        <div id="carousel-example" class="carousel slide hidden-xs" data-ride="carousel">
            <!-- Wrapper for slides -->
            <div class="carousel-inner">
                <div class="item active">
                    <div class="row">
@foreach (var item in Model)
{
                        <div class="col-sm-3">
                            <div class="col-item">
                                <div class="photo imagewrap">
                                    <img src="http://placehold.it/350x300" class="img-responsive" alt="a" />
                                    <div class="input-group pos-bot-left col-md-6">
                                        <span class="input-group-btn">
                                            <a class="btn btn-primary btn-number" disabled="disabled" data-type="minus" data-field="quant[1]">
                                                <span class="glyphicon glyphicon-minus"></span>
                                            </a>
                                        </span>
                                        <input type="text" name="quant[1]" class="form-control input-number" value="0" min="0" max="10">
                                        <span class="input-group-btn">
                                            <a class="btn btn-primary btn-number" data-type="plus" data-field="quant[1]">
                                                <span class="glyphicon glyphicon-plus"></span>
                                            </a>
                                        </span>
                                    </div>
                                    <div class="input-group pos-bot-right col-md-6">
                                        <select class="form-control" id="sauce">
                                            <option>Choose Sauce</option>
                                            <option>Spicy</option>
                                            <option>Sweet & Spicy</option>
                                            <option>Salty & Spicy</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="info">
                                    <div class="row">
                                        <div class="price col-md-6">
                                            <h5>
                                                @Html.DisplayFor(modelItem => item.Item)
                                            </h5>
                                            <h5 class="price-text-color">
                                                ₱@Html.DisplayFor(modelItem => item.Price)
                                            </h5>
                                        </div>
                                        <div class="rating hidden-sm col-md-6">
                                        </div>
                                    </div>
                                    <div class="separator clear-left">
                                        <p class="itm-add">
                                            <i class="glyphicon glyphicon-shopping-cart"></i><a href="http://www.jquery2dotnet.com" class="hidden-sm">Add to cart</a>
                                        </p>
                                        <p class="itm-details">
                                            <i class="glyphicon glyphicon-list"></i><a href="http://www.jquery2dotnet.com" class="hidden-sm">More details</a>
                                        </p>
                                    </div>
                                    <div class="clearfix">
                                    </div>
                                </div>
                            </div>
                        </div>
}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
